/* Colorscheme for website base on the original Game Boy color palette
 * Courtesy of:
 * https://www.designpieces.com/palette/game-boy-original-color-palette-hex-and-rgb/
 *
 * Darkest Green
 * Hex: #0f380f
 * RGB: 15, 56, 15
 *
 * Dark Green
 * Hex: #306230
 * RGB: 48, 98, 48
 *
 * Light Green
 * Hex: #8bac0f
 * RGB: 139, 172, 15
 *
 * Lightest Green
 * Hex: #9bbc0f
 * RGB: 155, 188, 15
 */ 

/* Variables for colors */ 
:root {
  --darkest-green-color: #0f380f;
  --dark-green-color: #306230;
  --light-green-color: #8bac0f;
  --lightest-green-color: #9bbc0f;
}


/* GLOBAL STYLES */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'VT323', sans-serif;
  color: var(--darkest-green-color);
}

/* HOME.HTML STYLES */
/* Title Container Related */
#title-container {
  background-color: var(--lightest-green-color);
  height: 75%; 
}

#title-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#title-text h1 {
  font-size: 5em;
  font-style: italic;
  text-decoration: underline;
}

#title-text h2 {
  font-size: 3em;
}

/* Buttons Container Related */
#buttons-container {
  background-color: var(--light-green-color);
  height: 25%
}

#buttons-center {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pixel-button {
  flex: 1 1 0;
  margin: auto 5vw;
  padding: 1vw;
  background-color: var(--dark-green-color);
  color: var(--darkest-green-color);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  cursor: pointer;
}

.pixel-button:hover {
  background-color: var(--darkest-green-color);
  color: var(--lightest-green-color);
}

/* Controls Overlay Related */
#controls-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* ABOUT.HTML STYLES */
#about-container {
  background-color: var(--lightest-green-color);
}

#about-container hr {
  border: 1px solid var(--darkest-green-color);
}
