/* Colorscheme for website base on the original Game Boy color palette
 * Courtesy of:
 * https://www.designpieces.com/palette/game-boy-original-color-palette-hex-and-rgb/
 *
 * Darkest Green
 * Hex: #0f380f
 * RGB: 15, 56, 15
 *
 * Dark Green
 * Hex: #306230
 * RGB: 48, 98, 48
 *
 * Light Green
 * Hex: #8bac0f
 * RGB: 139, 172, 15
 *
 * Lightest Green
 * Hex: #9bbc0f
 * RGB: 155, 188, 15
 */ 

:root {
  /* Variables for colors */ 
  --darkest-green-color: #0f380f;
  --dark-green-color: #306230;
  --light-green-color: #8bac0f;
  --lightest-green-color: #9bbc0f;

  /* Variable for gameboard grid */
  --grid-cols: 1;
  --grid-rows: 1;
}

/* GLOBAL STYLES */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'VT323', sans-serif;
  color: var(--darkest-green-color);
}

/* ANIMATIONS AND TRANSITIONS */
.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

/* HOME.HTML STYLES */
/* Top Left Container related */
#top-left-container {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 1.3em;
}

#top-left-container p {
  margin: 0;
}

/* Top Right Container related */
#top-right-container {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1.3em;
}

/* Title Container Related */
#title-container {
  background-color: var(--lightest-green-color);
  height: 75%; 
}

#title-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

#title-text h1 {
  font-size: 5em;
  font-style: italic;
  text-decoration: underline;
}

#title-text h2 {
  font-size: 3em;
}

/* Controls Text Related */
#controls-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

/* Buttons Container Related */
#buttons-container {
  background-color: var(--light-green-color);
  height: 25%
}

#buttons-center {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pixel-button {
  flex: 1 1 0;
  margin: auto 5vw;
  padding: 1vw;
  background-color: var(--dark-green-color);
  color: var(--darkest-green-color);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  cursor: pointer;
}

.pixel-button:hover {
  background-color: var(--darkest-green-color);
  color: var(--lightest-green-color);
}

/* ABOUT.HTML STYLES */
/* Snake Sidebar Container Related */
#snake-sidebar-container {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkest-green-color);
  overflow: hidden;
  padding-top: 20px;
}

#snake-sidebar-container a,
#snake-sidebar-container p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-green-color);
  display: block;
  margin: 0 10px;
}

#snake-sidebar-container a {
  background-color: var(--dark-green-color);
}

#snake-sidebar-container a:hover {
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
}

/* About Container Related */
#about-container {
  height: auto;
  background-color: var(--lightest-green-color);
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 25px;
}

#about-container hr {
  margin: 0 15px;
  border: 1px solid var(--darkest-green-color);
}

#about-container h1 {
  font-size: 3em;
  text-decoration: underline;
}

#about-container p {
  font-size: 1.75em;
}


/* GAME.HTML STYLES */
/* Gameboard related */
#gameboard {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}
