/* ABOUT.HTML STYLES */
/* Snake Sidebar Container Related */
#snake-sidebar-container {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkest-green-color);
  overflow: hidden;
  padding-top: 20px;
}

#snake-sidebar-container a,
#snake-sidebar-container p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-green-color);
  display: block;
  margin: 0 10px;
}

#snake-sidebar-container a {
  background-color: var(--dark-green-color);
}

#snake-sidebar-container a:hover {
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
}

/* About Container Related */
#about-container {
  height: auto;
  background-color: var(--lightest-green-color);
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 25px;
}

#about-container hr {
  margin: 0 15px;
  border: 1px solid var(--darkest-green-color);
}

#about-container h1 {
  font-size: 3em;
  text-decoration: underline;
}

#about-container p {
  font-size: 1.75em;
}

/* Card Related */
#card-container {
  display: inline-flex;
}

.card {
  margin: 3em;
  width: 40%;
  background-color: var(--light-green-color);
}

.card h2 {
  font-size: 1.75em;
  margin: 0.5em 0;
  text-align: center;
}

.card p {
  font-size: 1em;
  margin: 0.5em 0 0 0;
}

.card-text {
  padding: 2px 16px;
}

/* Image Figure Related */
.image-figure {
  text-align: center;
  font-size: 1.2em;
}

.image-figure figcaption {
  margin-top: 0.5em;
}

/* Table Related */
#response-code-table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

#response-code-table td,
#response-code-table th {
  border: 3px solid var(--darkest-green-color);
  text-align: left;
  padding: 8px;
  font-size: 1.5em;
}

#response-code-table caption {
  caption-side: bottom;
  text-align: left;
  margin-left: 0.5em;
  margin-top: 0.5em;
}
